.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
     &__list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 33px;
  }
  
    &__item {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
     
     
  
      letter-spacing: 0.923077px;
      text-transform: uppercase;
  
      color: #83888f;
    }
  }
