* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.conteirner {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}
button {
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  
  text-align: center;

  color: #fefcf7;
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  &:hover{            
  
    background-image: linear-gradient(to right, #1b8dce 0%, #31a5db  51%, #36682d  100%);

    

   
  }
}

